@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .blur-background-filter {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }
  
    ::-webkit-scrollbar{
        width: 7px;
        height: 7px;
    }
    ::-webkit-scrollbar-track{
        /* background: gray;
        opacity: 0.5; */
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    }
    ::-webkit-scrollbar-thumb{
        background: transparent;
    }
    .btn{
      @apply text-xl lg:text-2xl w-[136px] flex justify-center bg-gray-300 hover:bg-gray-400  h-max  py-2 rounded-xl;
    }

  }