@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .blur-background-filter {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }
  
    ::-webkit-scrollbar{
        width: 7px;
        height: 7px;
    }
    ::-webkit-scrollbar-track{
        /* background: gray;
        opacity: 0.5; */
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    }
    ::-webkit-scrollbar-thumb{
        background: transparent;
    }
    .btn{
      @apply text-xl lg:text-2xl w-[136px] flex justify-center bg-gray-300 hover:bg-gray-400  h-max  py-2 rounded-xl;
    }

  }

  @keyframes slideIn {
    from{
      transform: translateY(-100%);
    }

    to{
      transform: translateY(0%);
    }
  }

  @keyframes fadeIn {
    0%,10%,20%{
      opacity: 0;
    }
    25%{
      opacity: 0.25;
    }
    50%{
      opacity: 0.5;
      }
    70%{
      opacity: 0.8;
    }  
    80%{
      opacity: 0.9;
    }  
    100%{  
      opacity: 1;
      }
  }