@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .blur-background-filter {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }
  
    ::-webkit-scrollbar{
        width: 7px;
        height: 7px;
    }
    ::-webkit-scrollbar-track{
        /* background: gray;
        opacity: 0.5; */
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    }
    ::-webkit-scrollbar-thumb{
        background: transparent;
    }

}